.offers{
width: 75%;
height: 70vh;
display: flex;
margin: 80px auto;
padding: 0px 140px;
margin-bottom: 150px ;
background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}


.offers-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 40px;
}

.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}


.offers-left button{
    border-radius: 35px;
    margin: 5px;
    padding: 10px;
    background: #ff4141;
    color: white;
    width: 282px;
    height: 70px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex:1;
    display: flex;
    height:auto;
    justify-content: flex-end;
    padding-top: 50px;
}







